<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加物品</title>
</head>
<body>
<form>
    <table border="1" style="margin-top:100px" width="450px">
          <tbody style="font-size:20px">
                <tr>
                    <th scope="col" colspan="3">物品详情</th>
                </tr>
                <tr>
                    <th scope="row" width="150px" height="30px">名称</th>
                    <td width="300px">
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th scope="row" height="30px">位置</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">备注</th>
                    <td height="200px">
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <th scope="row" height="30px">状态</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" height="30px"></th>
                    <td><input type="submit" value="确认"></td>
                </tr>
          </tbody>
    </table>
</form>
</body>
</html>