<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>按名称查询</title>
</head>
<body><!--
<div id="head" style="width:100%"><span style="float:right"><a href="{% url 'index' %}">返回首页</a></span></div>
<div id="query-er" style="margin-top:50px;">
<center><span id="checkList">
	<select>
    	<option value="0">房间</option>

        {% for position in positions %}

        <option value="0">{{position.room}}</option>

        {% endfor %}
    </select>
    <select>
    	<option value="0">容器</option>
    </select>
    <select>
    	<option value="0">格子</option>
    </select>
    <input type="submit" name="rdyToCheck" value="确认" />
</span></center>
</div>
<div id="result">
    <center>
    <table width="80%" border="1" bordercolor="#020202">
  <tbody align="center" style="font-size:20px">
    <tr>
      <td width="75px">ID</td>
      <td width="200px">名称</td>
      <td>备注</td>
      <td width="100px">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><input type="button" name="detail" value="详情" style="font-size:18px" /></td>
    </tr>
  </tbody>
</table>

    </center>
</div>-->

<h1>功能待开发！</h1>
</body>
</html>